
<section class="d-grid align-items-center min-vh-100 first-section" id="Startseite">
    <div style="margin-bottom: 10%;">
        <h1 class="primary-text text-uppercase">Praktikum bei Check24</h1>
        <h2 class="text-secondary text-uppercase">Ein kurzer Rückblick auf diese zwei Wochen</h2>
    </div>
    <a href="#Was habe ich gemacht">
        <i class="fas fa-arrow-alt-circle-down fa-5x hover-opacity-80 opacity-50 d-inline-block" id="scrollToBottomBtn"></i>
    </a>
    <i onclick="topFunction()" class="fas fa-arrow-alt-circle-up fa-5x z-index-sticky hover-opacity-80 opacity-50 d-none" style="right: 30px; position: fixed; bottom: 20px;" id="scrollToTopBtn"></i>
</section>


<section class="d-grid align-items-center min-vh-100 section" id="Was habe ich gemacht">
    <div>
        <h3 class="text-uppercase primary-text">Was habe ich gemacht?</h3>
        <hr class="ms-auto me-auto mb-5 mt-0" style="width: 5rem; height: .25rem; background-color: var(--bs-gray-800);">
        <p>
            Ich habe mein Wissen über viele verschiedene Themen wie http/1/2/3, TCP, REST, CRUD und Datenbanken um einiges erweitert. <br>
            Gearbeitet habe ich mit der Programmiersprache JavaScript meist im Backend mit NodeJS. <br>
            Dabei habe ich eine FizzBuzz-API erstellt, diese Webseite auf dynamisches Routing umgeschrieben, Übungen zum Auslesen und Validieren von Daten gemeistert <br>
            und mich zu guter letzt mit <a href="grpc.io">gRPC</a> auseinandergesetzt.
        </p>
    </div>
</section>


<section class="d-grid align-items-center min-vh-100 section" id="Projekte">
    <div class="container">
        <h3 class="text-uppercase primary-text">Projekte</h3>
        <hr class="ms-auto me-auto mb-5 mt-0" style="width: 5rem; height: .25rem; background-color: var(--bs-gray-800);">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col mb-2">
                <div class="card text-start p-0">
                    <img src="https://via.placeholder.com/280x170" alt="Placeholder_IMG_280x170" class="card-img-top">
                    <div class="card-body">
                        <h5>NodeJS-Kurs</h5>
                        <p class="card-text">Ein sehr guter Kurs um Basiswissen zum Arbeiten mit NodeJS, express und MongoDB zu erlangen.</p>
                        <a href="https://github.com/TilGP/nodeJS-course" class="btn btn-primary">Zu meinen Mitschrifeten</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card text-start p-0">
                    <img src="https://via.placeholder.com/280x170" alt="Placeholder_IMG_280x170" class="card-img-top">
                    <div class="card-body">
                        <h5>Aufgabe zur Datenvalidierung</h5>
                        <p class="card-text">Genauere Beschreibung zur aufgabe auf Github.</p>
                        <a href="https://github.com/TilGP/NodeJS-Aufgabe-zur-Datenvalidierung" class="btn btn-primary">Zum Code</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card text-start p-0">
                    <img src="https://via.placeholder.com/280x170" alt="Placeholder_IMG_280x170" class="card-img-top">
                    <div class="card-body">
                        <h5>Übung zur Erstellung von APIs anhand von FizzBuzz</h5>
                        <p class="card-text">Spiele mit POST und GET Requests FizzBuzz online mit deinen Freunden.</p>
                        <a href="https://github.com/TilGP/FizzBuzz-Game-API" class="btn btn-primary">Zum Code</a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>

<script src="static/scripts/scrollToTop.js"></script>